
/*============== Global CSS ==============*/
/*   background-image: url("http://images.all-free-download.com/images/graphicthumb/linen_fabric_background_01_hd_picture_169828.jpg");
*/
body {
  font-family: 'Pontano Sans', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

ul {
  margin: 2px 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid black;
  border-radius: 20px;
  margin: 2em 0;
  padding: 0;
}

.container {
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#grayed {
  opacity: 0.6;
}

/*============== Landing Page CSS ==============*/

#fullSpan {
  width: 100%;
  margin: 15px 0 20px 0;
  position: relative;
}

#citySkyline {
  width: 100%;
}

#welcomeMsg {
  margin-bottom: 12px;
  font-weight: bold;
}

.calendar {
  background-color: yellow;
  margin-bottom: 15px;
}

.topHalf {
  background-color: darkgray;
  padding-top: 20px;
}

.userInput {
  border: 2px solid blue;
  border-radius: 10px;
  margin: 35px 0 35px;
  background-color: darkseagreen;
  text-align: center;
}

.formArea {
  margin: 15px 20% 20px 20%;
  text-align: center;
}


.learnMoreButton {
  float: right;
}

.blurbHeader {
  text-decoration: underline;
  margin-bottom: 50px;
}

.threeBlurbs {
  margin-top: 40px;
  text-align: center;
}

.blurbBG1 {
  padding: 0 30px 0 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: yellow;
}

.blurbBG2 {
  padding: 0 30px 0 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: darkgray;
}

/* used for blurb vector icons */
h9 {
  font-size: 70px;
}

/*============== Results Page CSS ==============*/

.searchBanner {
  margin-top: -20px;
  padding-bottom: 0.1em;
  text-align: center;
}

#centeredHeading {
  text-align: center;
  letter-spacing: 3px;
}


#roomTypeHeading {
  letter-spacing: 2px;
  color: #696949;
}

#resultContainer {
  margin: 5px auto 0 auto;
  background-color: #e0e0d2;
  border: 2px solid #3c3c2a;
  border-radius: 4px;
  width: 100%;
  position: inherit;
}

#fullResultSpan {
  background-color: #e0e0d2;
  width: 100%;
  margin: 15px 0 15px 0;
  padding: 0 15px 0 15px;
  position: relative;
}

.alignLeft {
  float: left;
  font-size: 30px;
  vertical-align: top;
  letter-spacing: 2px;
}

.alignRight {
  float: right;
  margin-top: 10px;
  font-size: 20px;
}

.roomExpandedLeftHeadline {
  float: left;
  font-size: 25px;
  vertical-align: top;
  letter-spacing: 2px;
}

.roomExpandedRightButton {
  float: right;
  font-size: 25px;
  vertical-align: top;
}


#priceResult {
  text-align: right;
  position: inherit;
  /* missing inline prop. forgot name */
}

.roomDescription {
  clear: both;
}

.resultsThumbs {
  clear: both;
  text-align: center;
}

.thumbPhoto {
  width: 100%;
}

.thumbPhoto img {
  max-height: 200px;
  width: 100%;
}



.amenityText {
  color: #5a5a3f;
  background-color: #e0e0d2;
}

#highlightResult {
  background-color: #e0e0d2;
}



/*============== Amenity Page CSS ==============*/
#leftAmenityImage {
  background-color: gold;
}

#rightAmenityImage {
  background-color: gold;
}

.amenityTextBox {
  background-color: green;
  margin-bottom: 40px;
}

/*============== Checkout Page CSS ==============*/
#costAlignRight {
  text-align: right;
}

#costAlignRight {
  text-align: right;
}

#checkoutButton {
  font-style: italic;
  text-align: right;
}

/* borrow searchBanner and #resultContainer from results page */

#tableHeader {
  font-size: 1.3em;
  text-decoration: underline;
}

#totalHighlight {
  background: #ffff1a;
}

/*============== Retrieve Reservation CSS ==============*/

#getButton {
  float: right;
}

#getAllButton {
  float: right;
  margin-right: 5px;
}

#deleteButton {
  float: left;
  margin-bottom: 225px;
}

#lookupForm {
  background-color: #e0e0d2;
  margin-top: -32px;
}
/* borrow #resultContainer from results page */

.displayItineraryTable {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  width: 50%;
}

#getItinerarySpacing {
  margin-top: 175px;
}





/*============== Header CSS ==============*/

.headerBlackout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 70px;
  background-color: black;
  color: #f2f2f2;
}

.headerContainer {
  margin: 0 18% 5px 18%;
}


#hotelNomaLogoLeft {
  display: block;
  height: 65px;
  margin: 0 auto;
  position: fixed;
  background-color: black;

}

#headerRow {
  margin-top: 0;
  width: 100%;
}

.headerContainer img {
  margin-left: 0;
  height: 65px;
}

.headerRightContent {
  float: right;
  position: absolute;
  display: inline-block;
}


#dropdownNav {
  color: inherit;
  letter-spacing: 1px;
  font-size: 15px;
  text-decoration: none;
  background-color: black;
  margin-top: 15px;
}

#retrieveReservationsText {
  float: right;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 27px;
  text-align: right;
}

/*

@media (min-width: 1010px) {

  #hotelNomaLogoLeft {
    height: 100%;
    left: 18%;
    position: absolute;
  }

  .headerMenuRight {
    letter-spacing: 2px;
    font-size: 15px;
    right: 18%;
    position: absolute;
    height: 65px;
    line-height: 65px;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
  }
}

@media (max-width: 1009px) {

  #hotelNomaLogoLeft {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  .headerMenuRight {
    background-color: black;
    letter-spacing: 2px;
    font-size: 15px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

*/

/*============== Confirmation Page CSS ==============*/
#confirmationContainer {
  margin: 5px auto 0 auto;
  padding: 0 15px;
  background-color: #e0e0d2;
  border: 2px solid #3c3c2a;
  border-radius: 4px;
  width: 100%;
  position: inherit;
}

#confirmationBackground {
  background-color: #e0e0d2;

}

/*============== Footer CSS ==============*/
.footerContainer {
  margin: 15px -9999rem 0 -9999rem;
  padding: 0.25rem 9999rem;
  background: black;
  text-align: center;
  color: #f2f2f2;
}


#centeredGoogleMap {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#centeredFooterText {
  width: 100%;
  line-height: 150%;
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  background-color: black;
}

#black {
  background-color: black;
}

#footerBar {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f2f2f2;
  margin: 1em 0;
  padding: 0;
}

#footerLicensingColor {
  color: #4d4d4d;
  margin-top: -10px;
}

#footerLicensing a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/*============== END CSS ==============*/

/* test for slideshow. access with /blank */

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://static.pexels.com/photos/268533/pexels-photo-268533.jpeg)
}
.slideshow li:nth-child(2) {
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 10px;
}

#delete-form {
  display: inline;
}

